body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

.App, .room-screen {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.room label {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.room input {
  width: 200px;
  height: 30px;
  border: 2px solid #911bc4;
  border-radius: 6px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

button {
  width: 210px;
  height: 40px;
  border: 2px solid #911bc4;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 5px;
  background-color: #911bc4;
  color: white;
  cursor: pointer;
}

.sign-out {
  margin-top: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}

button:hover {
  background-color: white;
  color: #911bc4;
  transition: 0.5s;
}

@media screen and (min-width: 1024px) {
  .room label {
    font-size: 30px;
  }

  .room input {
    font-size: 24px;
    width: 240px;
  }

  button {
    font-size: 24px;
    width: 250px;
  }
}